.wrap {
    padding: 30px;
}

.backBtn {
    display: flex;
    align-content: center;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    color: #333;
    cursor: pointer;
    transition: all 0.5s;
}


.backBtn:hover {
    background: #e0e0e0;
    border-color: #999;
}

.cover {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}